.about-page {
    
    margin: 0 auto;
    max-width: 600px;
    >div {
        margin-bottom: 2rem;
    }
    h2 {
        text-align: center;
        span {
            color: #fd5068;
        }
    }

    a {
        color: #fd5068;
        text-decoration: none;
    }

    span {
        font-weight: 800;
    }

    ul {
        list-style: none;
    }



}

.easter-egg {
    display: flex;
    img {
        width: 100%;
    }
}