.card-page-container {
    // height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    >.placeholder {
        width: 100%;
        height: 2px;
    }
}

.upper-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.cards-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 450px;
    min-width: 300px;
    min-height: 450px;
    max-height: 650px;
    // overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px 0 rgba(136,136,136,0.77);
    flex-grow: 1;

}

.card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
}

.card-swiped-right {
    transition: 0.4s;
    transform: translateX(150vw) !important;
}

.card-swiped-left {
    transition: 0.4s;
    transform: translateX(-150vw) !important;
}

.reseting {
    transition: 0.25s;
}

.bottom-action-bar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10% 0.5rem;
    align-items: center;
    max-width: 450px;
    
    button {
        background-color: #FAFAFA;
    }

    .undo-container {
        button{
            width: 3rem;
            height: 3rem;
        }
        svg {
            fill: #f5d020
        }
        
    }

    .like-container {
        svg {
            fill: #63D471
        }
    }

    .dislike-container {
        svg {
            fill: #fd5068
        }
    }

}

.snackbar-container {
    color: #FEFEFE;
    padding: .75rem 5rem;
    border-radius: 0.5rem;
}