.liked-cats-page {
    max-width: 600px;
    margin: 0 auto;
    h2 {
        text-align: center;
        margin: 1rem;
    }
}

.liked-cats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.375rem;
}

.liked-cat-container {
    min-height: 12rem;
    display: flex;
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    .close-container {
        z-index: 3;
        position: absolute;
        right: 0;
        top: 0;

        span {
            border-radius: 100%;
            color: #FEFEFE;
            overflow: hidden;
            
            svg {
                background-color: #fd5068;
            }
        }
    }
}