.user-pref-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin: 1rem 0;
    }

    .cat-img-container {
        margin: 0.75rem;
        border-radius: 0.375rem;
        overflow: hidden;
        max-width: 30rem;
        img {
            width: 100%;
        }
    }
}

.slider-container {
    padding: 1rem;
    max-width: 450px;
    width: 100%;
}

.cat-age-container,
.max-radius-container {
    margin-bottom: 1rem;
    .header {
        display: flex;
        justify-content: space-between;
    }
}